{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{# comentarios #}
	{% set mivar = 's' %}
	{{ mivar }}
	{{ 'LOWER' | lower }}
	<a a href="{{ path('productos') }}">Productos</a>
	<a a href="{{ path('almacen') }}">Almacén</a>
{% endblock %}
